body {
    margin:0;
    font-family: Arial,sans-serif;
    background:linear-gradient(180deg,#0a4cff,#6fd6ff);
    height:100vh;
    text-align:center;
    color:#fff;
    overflow-x:hidden;
}
.title {
    font-size:28px;
    margin-top:30px;
    text-shadow:0px 0px 10px #000;
}
.game-box {
    margin-top:40px;
}
.game-btn {
    width:90px;
    height:90px;
    font-size:32px;
    margin:10px;
    border-radius:15px;
    background:yellow;
    color:black;
    font-weight:bold;
    border:none;
    transition:.3s;
}
.game-btn:active {
    background:pink;
    transform:scale(.9);
}
.ads-section {
    margin-top:40px;
}
.ad-btn, .adixium-btn, .monetag-btn, .giga-btn {
    display:block;
    margin:15px auto;
    width:70%;
    padding:15px;
    font-size:20px;
    border-radius:12px;
    border:none;
    background-color:#ffea00;
    color:#000;
    font-weight:bold;
    transition:.3s;
}
.ad-btn:active, .adixium-btn:active, .monetag-btn:active, .giga-btn:active {
    background:linear-gradient(90deg,yellow,pink);
}
.timer-text {
    margin-top:5px;
    font-size:15px;
}