body {
    font-family: Arial;
    text-align:center;
    padding:20px;
}

#game {
    display:grid;
    grid-template-columns: repeat(3, 100px);
    gap:10px;
    justify-content:center;
}

.tile {
    height:100px;
    font-size:30px;
    border-radius:10px;
    background:#ddd;
    transition:0.2s;
}

.tile:active {
    transform:scale(0.95);
}

#balanceBox {
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
}

button {
    padding:10px 20px;
    font-size:18px;
    margin-top:10px;
}
