body{
  margin:0;
  font-family:monospace;
  background:#c8f7c5;
  text-align:center;
}
.app{padding:20px}
button{
  padding:12px 22px;
  border-radius:10px;
  border:none;
  background:#ff4b2b;
  color:#fff;
  margin:5px;
}
button:active{
  background:linear-gradient(45deg,yellow,orange);
}
.main{font-size:18px}
.top-left{
  position:fixed;
  top:10px;
  left:10px;
}
#popup{
  position:fixed;
  top:30%;
  left:50%;
  transform:translateX(-50%);
  background:#ff416c;
  color:#fff;
  padding:12px 20px;
  border-radius:10px;
  opacity:0;
  transition:.4s;
}
