body {
    background: #0d0d16;
    color: #fff;
    margin: 0;
    font-family: monospace;
}

#top-bar {
    background: linear-gradient(90deg, #5500ff, #8800ff);
    padding: 10px;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
}

.menu-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #222;
    border: 1px solid #555;
    color: white;
    padding: 5px 10px;
}

#main-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

#main-menu button {
    padding: 15px;
    background: #151525;
    border: 1px solid #333;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.2s;
}

#main-menu button:hover {
    background: #24244a;
    transform: scale(1.02);
}

.panel {
    display: none;
    padding: 15px;
}

.panel h2 {
    color: #ffdd44;
    margin-bottom: 10px;
}

.item-card {
    background: #121222;
    padding: 10px;
    border-left: 3px solid #7755ff;
    margin-bottom: 10px;
    border-radius: 6px;
}

.map-button,
.shop-item,
.boss-area,
.eye-card {
    background: #181828;
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 8px;
    border-radius: 8px;
}

.eye-card {
    border-left: 4px solid #cc22ff;
}
