:root{
  --text:#ffffff;
  --rainbow:linear-gradient(120deg,#ff0000,#ff7300,#ffee00,#1dff00,#00a6ff,#7a00ff,#ff00c8,#ff0000);
}
*{box-sizing:border-box}

body{
  margin:0;
  font-family:Inter,Arial;
  color:var(--text);
  background:var(--rainbow);
  background-size:400% 400%;
  animation:rainbowMove 3s linear infinite;
  padding:20px;
}

@keyframes rainbowMove{
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}

#app{
  width:100%;
  max-width:750px;
  background:rgba(0,0,0,0.55);
  border-radius:16px;
  padding:20px;
  box-shadow:0 6px 25px rgba(0,0,0,0.5);
  backdrop-filter:blur(10px);
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.board{
  display:grid;
  grid-template-columns:repeat(6,1fr);
  gap:10px;
  margin:20px 0;
}

.tile{
  aspect-ratio:1;
  border-radius:12px;
  cursor:pointer;
  background:#222;
  transition:0.15s;
}

.controls button,
.adsArea .blueAd,
.withdrawCard button{
  padding:10px 15px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  color:white;
}

.blueAd{
  width:100%;
  margin:5px 0;
  background:#0b6bff;
  font-size:17px;
  font-weight:600;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.withdrawCard{
  background:rgba(255,255,255,0.05);
  padding:15px;
  border-radius:12px;
  margin-top:20px;
}

.withdrawCard input{
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:8px;
  border:none;
}
